
@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 0 0% 90%;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 0 0% 20%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-mono;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1),
      rgba(250, 232, 255, 1)
    );
    min-height: 100vh;
  }
}

@layer utilities {
  .glass {
    @apply bg-white/50 backdrop-blur-md border border-white/20;
  }
}
